{% extends 'base.html' %}

{% block content %}
  <h2 class="text-center">{{movie.title}}</h2>
  <button onClick="javascript:history.go(-1);">back</button>
  <hr>
  
  <div class="d-flex justify-content">
    <div class="image">
      <img class="d-block w-100" src="https://image.tmdb.org/t/p/original{{ movie.poster_path }}" alt="">
    </div>

    <div>
      <p>제목: {{ movie.title }}</p>
      <p>내용: {{ movie.content }}</p>
      <p>인기도: {{ movie.popularity }}</p>
      <p>개봉 날짜: {{ movie.release_date }}</p>
      <p>줄거리 : {{movie.overview}}</p>
    </div>
  </div>

{% endblock  %}
