{% extends 'base.html' %}

{% block content %}
  <h2 class="text-center">{{movie.title}}</h2>
  <button class="btn btn-outline-info" onClick="javascript:history.go(-1);">back</button>
  <hr>
  
  <div class="container">
    <div class="d-flex justify-content row">
      <div class="image col">
        <img class="d-block w-100 h-100" src="https://image.tmdb.org/t/p/original{{ movie.poster_path }}" alt="">
      </div>

      <div class="col">
        <p>인기도: {{ movie.popularity }}</p>
        <p>개봉 날짜: {{ movie.release_date }}</p>
        <p>줄거리 : {{movie.overview}}</p>
        <a href="{% url 'movies:movie_reviews' movie.movie_api_id   %}"> 리뷰 보러 가기 </a>
      </div>
    </div>
  </div>

{% endblock  %}
