{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="d-flex justify-content-center mt-5">
    {% comment %} <img src="{% static 'images/logo1.png' %}" alt="movie5" width="450px;"> {% endcomment %}
    {% comment %} <h1 class="d-flex justify-content-center mt-5">영화 추천 서비스</h1> {% endcomment %}
  </div>
  <br>


  <div id="carouselExampleCaptions" class="carousel slide d-flex justify-content-center mt-5" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex justify-content-center">
          <img src="https://image.tmdb.org/t/p/original{{ first_movie.poster_path }}" class="d-block w-25" alt="...">
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center">
          <img src="https://image.tmdb.org/t/p/original{{ sec_movie.poster_path }}" class="d-block w-25" alt="...">
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center">
          <img src="https://image.tmdb.org/t/p/original{{ third_movie.poster_path }}" class="d-block w-25" alt="...">
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>



{% endblock content %}