{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
  <h2 class="text-center mt-5"><a href="{% url 'movies:detail' review.movie.movie_api_id %}" class="text-decoration-none">{{ review.movie.title }}</a></h2>
  <hr class="mb-5">
  <div class="mx-5">
    <h3 class="mb-4">{{ review.title }}</h3>
    <p class="fs-5">사용자 평점 : {{ review.rate }}</p>
    <p class="fs-6 mb-4">{{ review.created_at }}</p>
    <p class="border border-secondary p-4" style="height: 400px;">
      {{ review.content|linebreaksbr }}
    </p>
    <div>
      {% if request.user == review.user %}
        <form action="{% url 'community:update_review' review.pk %}" method="GET" class="d-inline">
          {% csrf_token %}
          <button class="btn btn-warning mx-1">수정</button>
        </form>
        <form action="{% url 'community:delete_review' review.pk %}" method="POST" class="d-inline">
          {% csrf_token %}
          <button class="btn btn-danger mx-1", onclick="return confirm('정말로 삭제하시겠습니까?')">삭제</button>
        </form>
      {% endif %}
    </div>
  </div>
  <div class="mx-5">
    <h4 class="mt-5">댓글</h4>
    {% if comments|length %}
      <p>{{ comments|length }}개의 댓글이 있습니다.</p>
    {% endif %}
    <hr>
    {% for comment in comments %}
      <div class="my-3">
        작성자 : {{ comment.user }}
        <br>
        {{ comment.created_at }}
        <br>
        > {{ comment.content }}
      </div>
      <hr>
    {% endfor %}
    {% if request.user.is_authenticated %}
      <form action="{% url 'community:create_comment' review.pk %}" method="POST" class="d-inline">
        {% csrf_token %}
        {% bootstrap_form comment_form %}
        <button class="btn btn-primary mx-1">작성</button>
      </form>
    {% else %}
      <a href="{% url 'accounts:login' %}"><button class="btn btn-success mx-1">로그인</button></a>
    {% endif %}
    <a href="{% url 'community:index' %}"><button class="btn btn-light mx-1">뒤로가기</button></a>
  </div>
{% endblock  %}
