{% extends 'base.html' %}

{% block content %}
  <h2 class="text-center mt-5">{{ review.movie.title }}</h2>
  <hr class="mb-5">
  <div class="mx-5">
    <h3 class="mb-4">{{ review.title }}</h3>
    <p class="fs-5">리뷰 평점 : {{ review.rate }}</p>
    <p class="fs-6 mb-4">{{ review.created_at }}</p>
    <p class="border border-secondary p-4" style="height: 400px;">
      {{ review.content|linebreaksbr }}
    </p>
  </div>
  <h4 class="mt-5">댓글</h4>
  {% if comments|length %}
    <p>{{ comments|length }}개의 댓글이 있습니다.</p>
  {% endif %}
  {% for comment in comments %}
    <div>
      {{ comment.user }} - {{ comment.content }}
    </div>
  {% endfor %}
  <hr>
  {% if request.user.is_authenticated %}
    <form action="{% url 'community:create_comment' review.pk %}" method="POST">
      {% csrf_token %}
      {{ comment_form }}
      <input type="submit">
    </form>
  {% else %}
    <a href="{% url 'accounts:login' %}"><button class="btn btn-outline-info">로그인</button></a>
  {% endif %}
  <a href="{% url 'community:index' %}"><button class="btn btn-outline-secondary">뒤로가기</button></a>
{% endblock  %}
