{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
<button class="btn btn-light mt-5 mb-3" onClick="javascript:history.go(-1);">뒤로가기</button>
<table class="table table-hover text-white">
  <thead>
    <tr class="text-center">
      <th scope="col" width="5%">번호</th>
      <th scope="col" width="25%">영화</th>
      <th scope="col" width="30%">제목</th>
      <th scope="col" width="15%">글쓴이</th>
      <th scope="col" width="25%">작성일</th>
    </tr>
  </thead>
  <tbody>
  {% for review in page_obj %}
    <tr class="table-height align-middle text-center">
      <th scope="row" class="text-center">{{ review.pk }}</th>
      <td>
        <a href="{% url 'movies:detail' review.movie.movie_api_id %}" class="text-decoration-none text-white">{{ review.movie.title|truncatechars:20 }}</a>
      </td>
      <td>
        <a href="{% url 'community:detail_review' review.pk %}" class="text-decoration-none text-white mx-5"><img src="{% static 'images/review-star.png' %}" width="16px">{{ review.rate }}) {{ review.title }} <span class="text-secondary">[{{ review.comment_set.all|length }}]</span></a>
      </td>
      <td class="text-center">{{ review.user.username }}</td>
      <td class="text-center">{{ review.created_at }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<div class="d-flex justify-content-end">
  {% comment %} <a href="{% url 'community:create_review' %}"><button class="btn btn-success m-4">글쓰기</button></a> {% endcomment %}
</div>

<div class="d-flex justify-content-center mt-5">
  {% bootstrap_pagination page_obj %}
</div>

{% endblock %}
